[submodule "news-explorer"]
	path = news-explorer
	url = https://github.com/joja-peaches/news-explorer.git
[submodule "TravelLog"]
	path = TravelLog
	url = https://github.com/DGOOD-15/TravelLog.git
[submodule "se_project_react"]
	path = se_project_react
	url = https://github.com/joja-peaches/se_project_react.git
[submodule "se_project_spots"]
	path = se_project_spots
	url = https://github.com/joja-peaches/se_project_spots.git
[submodule "se_project_todo-app"]
	path = se_project_todo-app
	url = https://github.com/joja-peaches/se_project_todo-app.git
